* {
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  /* gap: 10px; */
  height: 100vh;
}

nav {
  grid-column: col-start / span 1;
}

header {
  grid-column: col-start 2 / -1;
}

main {
  grid-column: col-start 3 / -1;
}

.navigation {
  background-color: teal;
  height: 100%;
}

.header {
  background-color:steelblue;
}

.main {
  /* height: 100%; */
  background-color: slategray;
}